<li class="nav-li{{#if (eq @root.page.url ./url)}} active{{/if}}" data-depth="0">

  {{!-- top-level link --}}
  <div class="flex align-center justify-justified">
    <a class="flex grow strong link nav-link nav-heading js-nav-link" tabindex="0">
      <img class="icon no-pointer" src="/_/img/icons/{{./name}}.svg"> {{{./title}}}
    </a>
    {{!-- version selector --}}
    {{#if (gt ./versions.length 1)}}
    <button class="flex align-center shrink button versions" data-trigger="versions" data-trigger-product="{{./name}}">
      <span class="js-versions-text">{{./versions.0.version}}</span>
      <svg class="svg" width="30" height="30" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path d="M15.003 21.284L6.563 9.232l1.928-.516 6.512 9.299 6.506-9.299 1.928.516-8.434 12.052z" /></svg>
      <div class="popover js-version-popover" data-popover="versions" data-popover-product="{{./name}}">
        <ol class="ol">
          <li class="li-heading">Current version
          <li class="flex align-center justify-justified li js-version" data-product="{{./name}}" data-version="{{./versions.0.version}}">{{./versions.0.version}}
        </ol>
        <ol class="ol">
          <li class="li-heading">Previous versions
          {{#each ./versions}}
          {{#if @index}}
          <li class="flex align-center justify-justified li js-version" data-product="{{./../name}}" data-version="{{./version}}">{{./version}}
          {{/if}}
          {{/each}}
        </ol>
      </div>
    </button>
    {{/if}}
  </div>

  {{!-- nested links --}}
  {{#each ./versions}}
  {{> nav-tree navigation=./navigation.0.items level=1 version=./version product=./../name}}
  {{/each}}
