{{#if navigation.length}}
<ol class="nav-list{{#if (eq level 1)}} parent js-nav-list{{/if}}" data-version="{{version}}" data-product="{{product}}">
  {{#each navigation}}
  <li class="nav-li{{#if (eq @root.page.url ./url)}} active{{/if}}" data-depth="{{../level}}">
    {{#if ./url}}
    <a class="flex shrink align-center link nav-link{{#if (eq @root.page.url ./url)}} active{{/if}}{{#if ./items}} nav-nested js-nav-nested{{/if}}" href="{{~#if (eq ./urlType 'external')}}{{{./url}}}{{else}}{{{relativize ./url}}}{{~/if}}">
      {{{./content}}}
    </a>
    {{else}}
    <span class="flex grow align-center nav-heading">
      <span class="span">{{{./content}}}</span>
    </span>
    {{/if}}
    {{> nav-tree navigation=./items level=(increment ../level)}}
  {{/each}}
</ol>
{{/if}}
